<mat-form-field
  [ngStyle]="{ width: inputWidth }"
  class="example-full-width"
  appearance="outline"
>
  <mat-label>{{ placeholder }}</mat-label>
  <textarea
    matInput
    type="{{ type ? type : 'text' }}"
    placeholder="{{ placeholder }}"
    [ngClass]="{ disabled: disabled }"
    class="{{ class_ }}"
    [(ngModel)]="value"
    (input)="inputOnChange($event)"
    [maxlength]="maxlength"
    [disabled]="disabled"
    [rows]="rows"
  ></textarea>
</mat-form-field>
<span *ngIf="wordLimit" style="position: absolute; right: 20px; bottom: 3px"
  >{{ wordCount }}/{{ wordLimit }}</span
>
