<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <div *ngFor="let item of data">
      <ng-container [matColumnDef]="item.id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.id }}</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
    </div>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
