<mat-form-field [ngStyle]="{ width: inputWidth }" appearance="outline">
  <mat-label>{{placeholder }}</mat-label>
  <mat-select
    [multiple]="isMultiple"
    [disabled]="disabled"
    [(ngModel)]="selectedValue"
    (selectionChange)="changed()"
  >
    <ng-container *ngIf="!isGrouped">
      <mat-option
        *ngFor="let item of options"
        [value]="item[primaryValue] ? item[primaryValue] : item"
        >{{ item[displayValue] }}</mat-option
      >
    </ng-container>
    <ng-container *ngIf="isGrouped">
      <mat-optgroup
        *ngFor="let items of options"
        [label]="items.name"
        [disabled]="items.disabled"
      >
        <mat-option *ngFor="let item of items.option" [value]="item.value">
          {{ item.viewValue }}
        </mat-option>
      </mat-optgroup>
    </ng-container>
  </mat-select>
</mat-form-field>
