<mat-form-field
  [ngStyle]="{ width: inputWidth }"
  *ngIf="diff"
  class="example-full-width"
  appearance="standard"
>
  <mat-label>{{ placeholder }}</mat-label>
  <input
    [ngClass]="{ disabled: disabled }"
    [disabled]="disabled"
    matInput
    readonly
    [(ngModel)]="value"
    (dateChange)="dateChange($event)"
    (click)="picker.open()"
    [matDatepicker]="picker"
    [min]="min"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <div matSuffix style="position: relative; bottom: 8px" *ngIf="matSuffix">
    {{ matSuffix }} &nbsp;
  </div>
</mat-form-field>

<mat-form-field
  *ngIf="!diff"
  [ngStyle]="{ width: inputWidth }"
  class="example-full-width"
  appearance="outline"
>
  <mat-label>{{ placeholder }}</mat-label>
  <input
    [ngClass]="{ disabled: disabled }"
    [disabled]="disabled"
    matInput
    readonly
    [(ngModel)]="value"
    (dateChange)="dateChange($event)"
    (click)="picker.open()"
    [matDatepicker]="picker"
    [min]="min"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
