<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">Inventory Count</h4>
          </div>
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-md-4">
                <app-label [label]="'Inventory counts'"></app-label>
              </div>
              <div class="col-md-7">
                <app-mutli-select></app-mutli-select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">add</i>
                    </div>
                    <h4 class="card-title">Add Count</h4>
                  </div>
                  <div class="card-body">
                    <div class="row d-flex align-items-center">
                      <div class="col-md-3">
                        <app-mutli-select
                          [placeholder]="'Inventory Type'"
                        ></app-mutli-select>
                      </div>
                      <div class="col-md-3">
                        <app-input
                          [maxlength]="250"
                          [placeholder]="'Location'"
                          [wordLimit]="250"
                        ></app-input>
                      </div>
                      <div class="col-md-4">
                        <app-input
                          [maxlength]="250"
                          [placeholder]="'Number Plate'"
                          [wordLimit]="250"
                        ></app-input>
                      </div>
                      <div class="col-md-2">
                        <app-button [button]="buttons[0]"></app-button>
                      </div>
                    </div>
                  </div>

                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
  </div>
</div>
