<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="
      background-image: url('./assets/img/login.jpg');
      background-size: cover;
      background-position: top center;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Log in</h4>
              </div>
              <div class="card-body">
                <app-input
                  [login]="true"
                  [icon]="'face'"
                  [placeholder]="'Username'"
                  (callBack)="userObj.userName = $event"
                ></app-input>
                <app-input
                  [login]="true"
                  [icon]="'lock_outline'"
                  [placeholder]="'Password'"
                  [type]="'password'"
                  (callBack)="userObj.password = $event"
                ></app-input>
              </div>
              <div class="card-footer justify-content-center">
                <a class="btn btn-rose btn-link btn-lg" (click)="validate()"
                  >Lets Go</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
