<div *ngIf="buttons?.length || tableData?.showSearch" class="search-warpper">
  <div *ngIf="tableData?.showSearch">
    <app-input
      *ngIf="tableData?.showSearch"
      (callBack)="searchKey = $event; searchClick($event)"
      placeholder=" search ..."
    ></app-input>
  </div>
  <div *ngIf="buttons?.length">
    <app-button
      *ngFor="let button of buttons; index as i"
      [button]="button"
      (callBack)="buttonClick(i)"
      [disabled]="button.disabled ? true : false"
    ></app-button>
  </div>
</div>
<div class="table">
  <table width="100%" class="table-bordered custom-table hover">
    <thead class="table-head">
      <tr class="table-head-row">
        <th width="30px" *ngIf="isNested"></th>
        <th
          class="th-class"
          *ngFor="let element of tableData?.tableHeader; index as i"
          width="{{ element.width }}"
          [ngClass]="{
            'text-center': element.alignCenter,
            'cursor-pointer': element.sortable
          }"
          (click)="sortCol(element, i)"
        >
          <div
            class="d-flex justify-content-between align-items-center align-self-center"
          >
            <div>{{ element.text }}</div>
            <div class="sort">
              <img
                class="sort-image"
                *ngIf="element.sortable"
                [ngClass]="{
                  'sort-active':
                    order == appConstants.ASC && selectedIndex == i,
                  'sort-inactive':
                    order != appConstants.ASC || selectedIndex != i
                }"
                src="assets/down-sort.svg"
                alt=""
              />
              <img
                class="sort-image"
                *ngIf="element.sortable"
                [ngClass]="{
                  'sort-active':
                    order == appConstants.DEC && selectedIndex == i,
                  'sort-inactive':
                    order != appConstants.DEC || selectedIndex != i
                }"
                src="assets/up-sort.svg"
                alt=""
              />
            </div>
          </div>
        </th>
        <th width="30px" *ngIf="tableData?.showDownload"></th>
        <th width="30px" *ngIf="tableData?.showDelete"></th>
        <th width="30px" *ngIf="tableData?.showDetails"></th>
      </tr>
    </thead>
    <tbody class="table-body">
      <ng-container *ngFor="let row of queriedData; index as i">
        <tr class="table-body-row" [class.active_row]="i === selectedRow">
          <td *ngIf="isNested">
            <ng-container
              *ngIf="
                row?.[tableData.nestedTableBodyField] &&
                row?.[tableData.nestedTableBodyField]?.length
              "
            >
              <a
                class="expand-row"
                *ngIf="!hideme[i]"
                (click)="$event.stopPropagation(); expandRow(i)"
              >
                <button class="button-add-minus add-btn" role="button">
                  <img width="10px" src="assets/plus.svg" />
                </button>
              </a>
              <a
                class="expand-row"
                *ngIf="hideme[i]"
                (click)="$event.stopPropagation(); hideme[i] = !hideme[i]"
              >
                <button class="button-add-minus minus-btn" role="button">
                  <img width="10px" src="assets/minus.svg" />
                </button>
              </a>
            </ng-container>
          </td>
          <td
            *ngFor="let element of tableData?.tableHeader"
            [ngClass]="{ 'text-center': element.alignCenter }"
            (click)="tableClick(appConstants.EDIT, row, i)"
          >
            <div *ngIf="element.type === appConstants.TEXT">
              {{
                element.subField1 && element.subField
                  ? row?.[element.field]?.[element.subField]?.[element.subField1]
                  : element.subField
                  ? row?.[element.field]?.[element.subField]
                  : row?.[element.field]
              }}
            </div>
            <div *ngIf="element.type === appConstants.TEXT_ARRAY">
              <div
                *ngFor="let item of  element.subField1 && element.subField
              ? row?.[element.field]?.[element.subField]?.[element.subField1]
              : element.subField
              ? row?.[element.field]?.[element.subField]
              : row?.[element.field]"
              >
                {{item?.[element.arrayField!]}} <br />
              </div>
            </div>
            <div *ngIf="element.type === appConstants.ADD">
              {{ row[element.field] }}
            </div>
            <div *ngIf="element.type === appConstants.INDEX">
              {{
                doPaginate
                  ? paginator.pageIndex * paginator.pageSize + (i + 1)
                  : i + 1
              }}
            </div>
            <div *ngIf="element.type === appConstants.CHECKBOX">
              <app-checkbox
                [id]="i + '-' + row[element.field]"
                [value]="row[element.field]"
                [disabled]="
                  element.disabled || row?.RoleName === appConstants.Admin
                    ? true
                    : false
                "
                (callBack)="checkboxCallback(element.field, $event, row, i)"
                (click)="$event.stopPropagation()"
              >
              </app-checkbox>
            </div>
            <div *ngIf="element.type === 'toggle'">
              <app-toggle
                [id]="i + '-' + row[element.field]"
                [checked]="row[element.field]"
                [disabled]="
                  element.disabled || row?.RoleName === appConstants.Admin
                "
                (callBack)="toggleCallback(element.field, $event, row, i)"
                (click)="$event.stopPropagation()"
              >
              </app-toggle>
            </div>
            <div
              style="margin: -6px 0px"
              *ngIf="element.type === 'heading-and-email'"
            >
              <h6>{{ row[element.field]?.heading }}</h6>
              <label class="h6-email">{{ row[element.field]?.email }}</label>
            </div>
            <div
              [ngClass]="{ 'text-end': element.alignEnd }"
              *ngIf="element.type === appConstants.NUMBER"
            >
              {{
                element.subField
                  ? (row[element.field][element.subField] | number)
                  : (row[element.field] | number)
              }}
            </div>
            <div *ngIf="element.type === appConstants.BADGE">
              <span
                *ngIf="row[element.field]"
                class="badge badge-pill badge-success"
                >Yes</span
              >
              <span
                *ngIf="!row[element.field]"
                class="badge badge-pill badge-danger"
                >No</span
              >
            </div>
            <div *ngIf="element.type === appConstants.TAG">
              <span class="inner-tag">{{ row[element.field] }}</span>
            </div>
            <div
              class="white-space-nowrap"
              [ngStyle]="{
                width: element.width ? element.width : 'auto'
              }"
              *ngIf="element.type === appConstants.TAG_ARRAY"
            >
              <span class="inner-tag" *ngFor="let item of row[element.field]">{{
                item[element.field]
              }}</span>
            </div>
            <div *ngIf="element.type === appConstants.DATE">
              {{ row[element.field] | date }}
            </div>
            <div *ngIf="element.type === appConstants.STATUS">
              <span
                [ngStyle]="{
                  width: element.width ? element.width : 'auto'
                }"
                class="bridge bridge-{{ row[element.field].type }}"
                >{{ row[element.field].text }}</span
              >
            </div>
          </td>
          <td *ngIf="tableData?.showDownload">
            <img
              *ngIf="row.showDownload"
              style="cursor: pointer"
              (click)="tableClick(appConstants.DOWNLOAD, row, i)"
              src="assets/download-icon.svg"
              alt=""
            />
          </td>
          <td *ngIf="tableData?.showDelete">
            <div class="audience-icons">
              <img
                *ngIf="tableData?.showDelete"
                class="cursor-pointer"
                (click)="tableClick(appConstants.DELETE, row, i)"
                src="assets/delete.svg"
                alt=""
              />
            </div>
          </td>
        </tr>
        <tr *ngIf="hideme[i]" class="sub-table no-bg">
          <td align="center"></td>
          <td colspan="15" class="p-0">
            <table class="table mb-0 table-bordered custom-table hover">
              <thead class="table-head">
                <tr class="table-head-row">
                  <th
                    *ngFor="
                      let element of tableData?.nestedTableHeader;
                      index as i
                    "
                    width="50"
                  >
                    <div>{{ element.text }}</div>
                  </th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr
                  class="table-body-row"
                  *ngFor="
                    let nrow of row[tableData.nestedTableBodyField];
                    index as i
                  "
                  [class.active_row]="i === nestedSelectedRow"
                >
                  <td
                    *ngFor="let element of tableData?.nestedTableHeader"
                    [ngClass]="{ 'text-center': element.alignCenter }"
                    (click)="nestedTableClick(appConstants.EDIT, nrow, i)"
                  >
                    <div *ngIf="element.type === appConstants.TEXT">
                      {{
                        !element.mainTable
                          ? element.subField1 && element.subField
                            ? nrow?.[element.field]?.[element.subField]?.[
                                element.subField1
                              ]
                            : element.subField
                            ? nrow?.[element.field]?.[element.subField]
                            : nrow?.[element.field]
                          : element.subField
                          ? row?.[element.field]?.[element.subField]
                          : row?.[element.field]
                      }}
                    </div>
                    <div *ngIf="element.type === appConstants.TEXT_ARRAY">
                      <div
                        *ngFor="let item of !element.mainTable
                        ? element.subField1 && element.subField
                          ? nrow?.[element.field]?.[element.subField]?.[
                              element.subField1
                            ]
                          : element.subField
                          ? nrow?.[element.field]?.[element.subField]
                          : nrow?.[element.field]
                        : element.subField
                        ? row?.[element.field]?.[element.subField]
                        : row?.[element.field]"
                      >
                        {{item?.[element.arrayField!]}}
                      </div>
                    </div>
                    <div *ngIf="element.type === appConstants.ADD">
                      {{ nrow[element.field] }}
                    </div>
                    <div *ngIf="element.type === appConstants.INDEX">
                      {{
                        doPaginate
                          ? paginator.pageIndex * paginator.pageSize + (i + 1)
                          : i + 1
                      }}
                    </div>
                    <div *ngIf="element.type === appConstants.CHECKBOX">
                      <app-checkbox
                        [id]="i + '-' + nrow[element.field]"
                        [value]="nrow[element.field]"
                        [disabled]="
                          element.disabled ||
                          nrow?.RoleName === appConstants.Admin
                            ? true
                            : false
                        "
                        (callBack)="
                          checkboxCallback(element.field, $event, nrow, i)
                        "
                        (click)="$event.stopPropagation()"
                      ></app-checkbox>
                    </div>
                    <div *ngIf="element.type === appConstants.TOGGLE">
                      <app-toggle
                        [id]="i + '-' + nrow[element.field]"
                        [checked]="nrow[element.field]"
                        [disabled]="
                          element.disabled ||
                          nrow?.RoleName === appConstants.Admin
                        "
                        (callBack)="
                          toggleCallback(element.field, $event, nrow, i)
                        "
                        (click)="$event.stopPropagation()"
                      ></app-toggle>
                    </div>
                    <div
                      style="margin: -6px 0px"
                      *ngIf="element.type === 'heading-and-email'"
                    >
                      <h6>{{ nrow[element.field]?.heading }}</h6>
                      <label class="h6-email">{{
                        nrow[element.field]?.email
                      }}</label>
                    </div>
                    <div
                      [ngClass]="{ 'text-end': element.alignEnd }"
                      *ngIf="element.type === appConstants.NUMBER"
                    >
                      {{ nrow[element.field] | number }}
                    </div>
                    <div *ngIf="element.type === appConstants.BADGE">
                      <span
                        *ngIf="nrow[element.field]"
                        class="badge badge-pill badge-success"
                        >Active</span
                      >
                      <span
                        *ngIf="!nrow[element.field]"
                        class="badge badge-pill badge-danger"
                        >Inactive</span
                      >
                    </div>
                    <div *ngIf="element.type === appConstants.TAG">
                      <span class="inner-tag">{{ nrow[element.field] }}</span>
                    </div>
                    <div
                      class="white-space-nowrap"
                      [ngStyle]="{
                        width: element.width ? element.width : 'auto'
                      }"
                      *ngIf="element.type === appConstants.TAG_ARRAY"
                    >
                      <span
                        class="inner-tag"
                        *ngFor="let item of nrow[element.field]"
                        >{{ item[element.field] }}</span
                      >
                    </div>
                    <div *ngIf="element.type === appConstants.DATE">
                      {{ nrow[element.field] | date }}
                    </div>
                    <div *ngIf="element.type === appConstants.STATUS">
                      <span
                        [ngStyle]="{
                          width: element.width ? element.width : 'auto'
                        }"
                        class="bridge bridge-{{ nrow[element.field].type }}"
                        >{{ nrow[element.field].text }}</span
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="!queriedData?.length" class="table-body">
      <tr>
        <td *ngIf="isNested"></td>
        <td
          [attr.colspan]="tableData?.tableHeader?.length"
          class="no-data-available"
        >
          <div>No data Available!</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="doPaginate">
    <mat-paginator
      [length]="!isSearching ? totalLength : searchedLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="tablePagination($event)"
    >
    </mat-paginator>
  </div>
</div>
